#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: -1;
}

video {
  width:100%;
  height:100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

.weather-table {
  width: 100%;
  border-collapse: collapse;
  background-color: gray;
}

.weather-table th,
.weather-table td {
  padding: 1em;
  @media (max-width: 768px) {
    padding: 0.5em;
  }
  text-align: center;
  border: 1px solid white;
}

.weather-table th {
  background-color: #333;
  color: white;
}

.weather-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.weather-table tr:hover {
  background-color: #6e6c6c;
}

