/* AnimalCards.css */
.card {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}



.card-name,
.card-stats {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 1.4rem;
  color: #007BFF;
}

.card:hover .card-name {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .card-stats {
  opacity: 1;
  transform: translateX(0);
}

.card-name {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #20C997;
  z-index: 1;
  transform: translateY(-20px);
}

.card-stats {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  text-align: right;
  transform: translateX(20px);
  font-weight: bold;
}

.stat {
  margin: 0.2rem 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Updated property */
  align-items: flex-start; /* Updated property */
  gap: 1rem;
}

.add-card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px dashed #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-symbol {
  font-size: 3rem;
  color: #333;
  transition: transform 0.3s;
}

.add-card:hover .add-symbol {
  transform: scale(1.2);
}

.edit-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 1rem 0;
}

.edit-button.cancel-button {
  background-color: #f44336;
}

.edit-button:hover {
  background-color: #45a049;
}

.edit-button.cancel-button:hover {
  background-color: #e53935;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
  z-index: 2;
}

.delete-button:hover {
  color: darkred;
}

.edit-animal-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-animal-button:hover {
  background-color: darkblue;
}
